pre,
p {
	background-color: transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	min-width: 100%;
	overflow: initial;
	padding: 0.8em 1em;
	border: 0 !important;
	background: #2b2b2b;
	border-radius: 0.3em;
	word-wrap: normal;
	color: #f8f8f2;
	font-family: Menlo, Monaco, Consolas, Operator Mono, Andale Mono, Ubuntu Mono,
		monospace;
	font-size: 16px;
	hyphens: none;
	line-height: 1.5;
	tab-size: 4;
	text-align: left;
	word-break: normal;
	word-spacing: normal;
	box-sizing: inherit;
}
h3 {
	margin: 8px;
}
h1,
h2,
h3,
pre {
	display: flex;
	justify-content: flex-start;
}
h3 + pre {
	color: yellow;
}
.pink {
	color: lightblue;
}
a {
	text-decoration: none;
}
