[submodule "udacity/JsAndTheDOM"]
	path = udacity/JsAndTheDOM
	url = https://github.com/fiveminutes001/JsAndTheDOM.git

[submodule "udacity/FullJs"]
	path = udacity/FullJs
	url = https://github.com/fiveminutes001/FullJs.git
